/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    width: 100%;
    padding: 1.2rem 3rem;
    background: #0d0d0d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

header .logo {
    font-size: 1.7rem;
    font-weight: 700;
}

header .logo span {
    color: #d4a056;
}

nav a {
    margin-left: 2rem;
    text-decoration: none;
    color: #ccc;
    font-size: 1rem;
}

nav a:hover,
nav a.active {
    color: #d4a056;
}

/* Container */
.container {
    padding-top: 8rem; /* biar tidak ketutup navbar */
    width: 90%;
    max-width: 650px;
    margin: auto;
    text-align: center;
}

.container h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.container p {
    margin-bottom: 2rem;
    color: #444;
}

/* Form */
.form-box {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #bbb;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    width: 100%;
    padding: 1rem;
    background: #d4a056;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
}

button:hover {
    background: #b98a44;
}